.pinned-repos-list .pinned-repo-item-content span.d-block {
    position: relative;
    margin-bottom: -6px;
!important;
}

.pinned-repos-list .pinned-repo-item-content span.d-block input {
    margin-top: 20px !important;
}

.pinned-repos-list .pinned-repo-item-content span.d-block a {
    margin-bottom: 26px !important;
}

#js-repo-pjax-container .repohead-details-container.clearfix.container {
    position: relative;
}

.el-tag {
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 5px;
}

.button-new-tag {
    height: 24px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}

.input-new-tag{
    width: 100px;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-top: 5px;
}

.input-new-tag input{
    padding-left:5px;
    text-align: center;
    padding-right: 5px;
}

.input-new-tag .el-input__inner {
    height: 24px;
}

.el-icon-edit-outline {
    vertical-align: middle;
    font-size: 18px;
    margin-right: 10px;
}

.el-dialog__body{
    padding-top: 0px;
}